<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @web_session.name %>
</p>

<script type="text/javascript">
  const videoDelay = [];
  <% if @web_session.session_players.present? %>
  <% @web_session.session_players.each_with_index do |session_player, i| %>
  videoDelay.push(<%= session_player.delay.present? ? session_player.delay : 0 %>);
  <% end %>
  <% end %>

  const medium = document.getElementsByTagName("video");
  function goZero()
  {
    for(let i=0;i<medium.length;++i) {
      medium[i].currentTime = videoDelay[i]; //先頭に戻す
      medium[i].play();
    }
  }
</script>
<% if @web_session.session_players.present? %>
  <% @web_session.session_players.each do |session_player| %>
    <video class="recordedVideo" id="recordedVideo<%= session_player.session_video %>" width="200" height="150" src="<%= url_for(session_player.session_movie) %>"></video>
  <% end %>
<% end %>

<br/>

<button onclick="goZero()">
  最初から再生
</button>

<br/>

<%= link_to 'このセッションに参加する', join_web_session_path(@web_session.id) %>

<br />

<%= link_to 'Back', web_sessions_path %>
