<p id="notice"><%= notice %></p>

<p>
  <span class="oi oi-person"></span>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @user.introduction %>
</p>

<% if @user.id == @user_id %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', :back %> |
<%= link_to 'Friends', users_path %>

<% id = @user.id %>
<% command =  "user_id =" + id.to_s%>
<% commit_log = [] %>
<% now = Time.new %>
<% Video.where(command).each do |video| %>
  <% commit_log.push(((Time.new - video.created_at)/60/60/24).floor) %>
<% end %>
<%= '<br />'.html_safe %>

<div>Contribute Callender</div>
<div style="display:inline-block;vertical-align:top;">
  <%= now.strftime("From %Y/%-m/%-d") %>
</div>
<div style="line-height:7px;font-size:5px;display:inline-block;">
<% for num in 0..49 do %>
  <% if commit_log.include?(num) %>
    <% opacity = 1 %>
    <% if commit_log.count(num)<10%>
      <% opacity = commit_log.count(num)/10.0 + 0.1 %>
    <% end %>
    <%= sprintf('<div style="height:26px; width:26px; background-color:rgba(0,150,0,%f); display:inline-block;"></div>', opacity).html_safe %>
  <% else %>
    <%= '<div style="height:26px; width:26px; background-color:rgba(0,0,0,0.2); display:inline-block;"></div>'.html_safe %>
  <% end %>
  <% if num%10==9 %>
    <%= '<br />'.html_safe %>
  <% end %>
<% end %>
</div>
<%= (now - 60*60*24*49).strftime("To %Y/%-m/%-d") %>

<div class="row">

</div>

<% i = 0 %>
<% @video.each do |video| %>
  <% if i%3==0 %>
    <% '<div class="row">' %>
  <% end %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <iframe width="100%" height="265" src="<%=video.url.sub(/watch\?v=/, "embed/")%>" frameborder="0" allowfullscreen></iframe>

      <div class="caption">

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <p>
              <span class="fa fa-music"></span>
              <span style="font-size: 28px;"><%=link_to(video.name,"/videos/#{video.id}") %></span><br>
              <i class="oi oi-tag"></i>
              <span><%= video.score %></span><br>
              <span class="oi oi-headphones"></span>
              <span><%= video.instrument%></span><br>
              <span class="oi oi-clock"></span>
              <span><%= video.date %></span><br>
            </p>
          </div>

          <div class="col-md-1">
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a>
            </ul>
          </div>
        </div >

      </div>
    </div>
  </div>

  <% if i%3==0 %>
    <% '</div>' %>
  <% end %>
  <% i+=1 %>
<% end %>


<% if i%3==0 %>
  <% '<div class="row">' %>
<% end %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <div style= "height : 445px; text-align:center; vertical-align: middle; line-height: 445px;">
        <a href = "http://localhost:3000/videos/new">
          <i class="fa fa-plus" style="font-size: 96px; "></i>
        </a>
    </div>
  </div>

<% if i%3==0 %>
  <% '</div>' %>
<% end %>
