<%= render 'navigation' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @user.introduction %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>




<div class="row">
  
</div>

<% i = 0 %>
<% @video.each do |video| %>
  <% if i%3==0 %>
    <% '<div class="row">' %>
  <% end %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <iframe width="420" height="265" src="<%="https://www.youtube.com/embed/" + video.url%>" frameborder="0" allowfullscreen></iframe>

      <div class="caption">
        
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <p>
              <span style="font-size: 28px;"><%= video.name %></span><br>
              <i class="fa fa-music"></i> 
              <span><%= video.score %></span><br>
              <span class="oi oi-tag"></span>
              <span><%= video.instrument%></span><br>
              <span class="oi oi-clock"></span>
              <span><%= video.date %></span><br>
            </p>
          </div>

          <div class="col-md-1">    
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a>
            </ul>
          </div>
        </div >

      </div>
    </div>
  </div>

  <% if i%3==0 %>
    <% '</div>' %>
  <% end %>
  <% i+=1 %>
<% end %>


<% if i%3==0 %>
  <% '<div class="row">' %>
<% end %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <div style= "height : 445px; text-align:center; vertical-align: middle; line-height: 445px;">
        <a href = "/videos/new">
          <i class="fa fa-plus" style="font-size: 96px; "></i>
        </a>      
    </div>
  </div>

<% if i%3==0 %>
  <% '</div>' %>
<% end %>
