<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @video.user %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @video.instrument %>
</p>

<p>
  <strong>Url:</strong>
  <%= @video.url %>
</p>

<p>
  <strong>Date:</strong>
  <%= @video.date %>
</p>

<p>
  <strong>Score:</strong>
  <%= @video.score %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
