<% @page_title = "Home" %>

<div class="columns">
  <% if @videos.present? %>
  <% @videos.each do |video| %>
    <div class="image fit">
      <a href="/videos.html">
        <% u = video.url %>
        <% u = u.slice(32..-1) %>
        <%=link_to(image_tag("http://i.ytimg.com/vi/#{u}/hqdefault.jpg"),"/videos/#{video.id}")  %>
      </a>
    </div>
  <% end %>
  <% else %>
  <div class="image fit">
    <a href="detail1.html">
      <%= image_tag('http://i.ytimg.com/vi/G6s8HF1WsJY/hqdefault.jpg') %>
    </a>
  </div>
  <div class="image fit">
    <a href="detail1.html">
      <%= image_tag('http://i.ytimg.com/vi/G6s8HF1WsJY/hqdefault.jpg') %>
    </a>
  </div>
  <div class="image fit">
    <a href="detail1.html">
      <%= image_tag('http://i.ytimg.com/vi/G6s8HF1WsJY/hqdefault.jpg') %>
    </a>
  </div>
  <div class="image fit">
    <a href="detail1.html">
      <%= image_tag('http://i.ytimg.com/vi/G6s8HF1WsJY/hqdefault.jpg') %>
    </a>
  </div>

  <div class="image fit">
    <a href="detail1.html">
      <%= image_tag('http://i.ytimg.com/vi/G6s8HF1WsJY/hqdefault.jpg') %>
    </a>
  </div>
  <div class="image fit">
    <a href="detail1.html">
      <%= image_tag('http://i.ytimg.com/vi/G6s8HF1WsJY/hqdefault.jpg') %>
    </a>
  </div>
  <div class="image fit">
    <a href="detail1.html">
      <%= image_tag('http://i.ytimg.com/vi/G6s8HF1WsJY/hqdefault.jpg') %>
    </a>
  </div>
  <div class="image fit">
    <a href="detail1.html">
      <%= image_tag('http://i.ytimg.com/vi/G6s8HF1WsJY/hqdefault.jpg') %>
    </a>
  </div>
  <% end %>
</div>
