<%= form_with(model: session_player, local: true) do |form| %>
  <% if session_player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session_player.errors.count, "error") %> prohibited this session_player from being saved:</h2>

      <ul>
      <% session_player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :web_session_id %>
    <%= form.text_field :web_session_id %>
  </div>

  <div class="field">
    <%= form.label :session_video %>
    <%= form.text_field :session_video %>
  </div>

  <div class="field">
    <%= form.label :instrument %>
    <%= form.text_field :instrument %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
