<p id="notice"><%= notice %></p>

<h1>Session Players</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Web session</th>
      <th>Session video</th>
      <th>Instrument</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @session_players.each do |session_player| %>
      <tr>
        <td><%= session_player.user %></td>
        <td><%= session_player.web_session %></td>
        <td><%= session_player.session_video %></td>
        <td><%= session_player.instrument %></td>
        <td><%= link_to 'Show', session_player %></td>
        <td><%= link_to 'Edit', edit_session_player_path(session_player) %></td>
        <td><%= link_to 'Destroy', session_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session Player', new_session_player_path %>
