<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @session_player.user %>
</p>

<p>
  <strong>Web session:</strong>
  <%= @session_player.web_session %>
</p>

<p>
  <strong>Session video:</strong>
  <%= @session_player.session_video %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @session_player.instrument %>
</p>

<% if @session_player.session_video.present? %>
  <video id="recordedVideo" width="400" height="300" autoplay src="<%= @session_player.session_video %>"></video>
<% end %>
<video id="myVideo" width="400" height="300" autoplay ></video>

<script type="text/javascript">
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || window.navigator.mozGetUserMedia;
  window.URL = window.URL || window.webkitURL;

  const video = document.getElementById('myVideo');

  let recorder = null;
  let blobUrl = null;
  let chunks = [];
  let videoBlob = null;
  function startRecording() {
    navigator.getUserMedia({video: true, audio: true},
      function(stream) { // for success case
        video.src = window.URL.createObjectURL(stream);
        recorder = new MediaRecorder(stream, {mimeType: 'video/webm'});
        recorder.ondataavailable = function(evt) {
          // 録画が終了したタイミングで呼び出される
          videoBlob = new Blob([evt.data], { type: evt.data.type });
          chunks.push(evt.data);
          blobUrl = window.URL.createObjectURL(videoBlob);
          video.src = "";
        };

        // 録画開始
        recorder.start();
      },
      function(err) { // for error case
        console.log(err);
      }
    );

  }

  // 録画停止
  function stopRecording() {
    recorder.stop();
    const button = document.getElementById('send_file');
    button.removeAttribute('disabled');
  }

  // 再生
  function playRecorded() {
    video.src = blobUrl;
    video.onended = function() {
      video.pause();
      video.src = "";
    };

    video.play();
  }

  // 動画を送信
  function sendSession() {
    const formdata = new FormData();
    formdata.append('session_player[session_video]', videoBlob);
    $.ajax({
      url: '/session_players/<%= @session_player.id %>/upload.json',
      type: 'POST',
      headers: {
        'X-CSRF-Token': document.getElementsByName('csrf-token')[0].getAttribute('content'),
      },
      data: formdata,
      processData: false,
      contentType: false
    }).done((data) => {
      console.log('ok');
    }).fail((data) => {
      console.log('ng');
    })
  }
</script>

<br/>

<Button onclick="startRecording()">
  録画
</Button>

<Button onclick="stopRecording()">
  停止
</Button>

<Button onclick="playRecorded()">
  再生
</Button>

<Button id="send_file" onclick="sendSession()" disabled>
  送信
</Button>

<br/>

<%= link_to 'Edit', edit_session_player_path(@session_player) %> |
<%= link_to 'Back', session_players_path %>
