<!DOCTYPE html>
<html>
<head>
  <title>TK1803</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <!-- Header -->
  <header id="header" class="hidehide">
    <div class="inner">
      <div class="content">
        <a id="closeBtn" href="#" class="button big">
          <h1><span>CLOSE</span></h1>
        </a>
      </div>
      <a href="" class="button hidden"></a>
      <nav>
        <div id="homeMenu" class="menu-inner">
          <div class="menu-content">
            <a id="homeBtn" href="/" class="big">
              <h1>HOME</h1>
            </a>
          </div>
        </div>
        <div id="usersMenu" class="menu-inner">
          <div class="menu-content">
            <a id="usersBtn" href="/users" class="big">
              <h1>USERS</h1>
            </a>
          </div>
        </div>
        <div id="videosMenu" class="menu-inner">
          <div class="menu-content">
            <a id="videosBtn" href="/videos" class="big">
              <h1>VIDEOS</h1>
            </a>
          </div>
        </div>
        <div id="sessionsMenu" class="menu-inner">
          <div class="menu-content">
            <a id="sessionsBtn" href="/sessions" class="big">
              <h1>SESSIONS</h1>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- Main -->
  <div id="main">
    <div class="inner">
      <%= yield %>
    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <a href="#" class="info fa fa-info-circle"><span>About</span></a>
    <div class="inner">
      <div class="content">
        <h3>Vestibulum hendrerit tortor id gravida</h3>
        <p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
      </div>
      <div class="copyright">
        <h3>Follow me</h3>
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        </ul>
        &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script>
    /*
    	Radius by TEMPLATED
    	templated.co @templatedco
    	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
    */

    (function($) {

    	skel.breakpoints({
    		xlarge:	'(max-width: 1680px)',
    		large:	'(max-width: 1280px)',
    		medium:	'(max-width: 980px)',
    		small:	'(max-width: 736px)',
    		xsmall:	'(max-width: 480px)'
    	});

    	$(function() {

    		var	$window = $(window),
    			$body = $('body'),
    			$header = $('#header'),
    			$footer = $('#footer');

    		// Disable animations/transitions until the page has loaded.
    			$body.addClass('is-loading');

    			$window.on('load', function() {
    				window.setTimeout(function() {
    					$body.removeClass('is-loading');
    				}, 100);
    			});

    		// Fix: Placeholder polyfill.
    			$('form').placeholder();

    		// Prioritize "important" elements on medium.
    			skel.on('+medium -medium', function() {
    				$.prioritize(
    					'.important\\28 medium\\29',
    					skel.breakpoint('medium').active
    				);
    			});

    		// Header.
    			$header.each( function() {

    				var t 		= jQuery(this),
    					button 	= t.find('.button');

    				button.click(function(e) {

    					t.toggleClass('hidehide');

    					if ( t.hasClass('preview') ) {
    						return true;
    					} else {
    						e.preventDefault();
    					}

    				});

    			});

    		// Footer.
    			$footer.each( function() {

    				var t 		= jQuery(this),
    					inner 	= t.find('.inner'),
    					button 	= t.find('.info');

    				button.click(function(e) {
    					t.toggleClass('show');
    					e.preventDefault();
    				});

    			});

    	});

    })(jQuery);
  </script>

  <script src="assets/js/main.js"></script>
</body>
</html>
